input {
    border-radius: 22px;
    background: #F8F8F8;
    box-shadow: 0px 4px 15px 0px black;
    color: #A6A6A6;
    background-color: #F8F8F8;
    margin-top: 100px;
    border: none;
}

/* Forma padaro vidury eilutes */
form {
    text-align: center;
}

/* Input teksta sulygiuoja per viduri */
input {
    text-align: center;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */